spring:
  application:
    name: petclinic
  
  datasource:
    url: jdbc:hsqldb:mem:petclinic
    driver-class-name: org.hsqldb.jdbcDriver
    
  jpa:
    database-platform: org.hibernate.dialect.HSQLDialect
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        
  cache:
    cache-names: vets
    caffeine:
      spec: maximumSize=500,expireAfterWrite=300s

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

logging:
  level:
    org.springframework.samples.petclinic: INFO
    org.hibernate: WARN

